@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";

.advantage {
  text-align: center;
}

.advantage__img_wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.advantage__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.advantage__title {
  @include text('Play',sans-serif,bold,24px,28px,$tc_b1);
  margin: 0px;
  margin-bottom: 7px;
}

.advantage__desc p {
  @include text('Play',sans-serif,normal,16px,19px,$tc_g);
  margin: 0px;
}