.button_transparent {
  margin-left: rem(10px);
  background-color: transparent;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(18px);
  color: #fff;
  text-transform: none;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
}
.button_transparent:hover {
  margin-left: rem(10px);
  background-color: transparent;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

.advantages {
  display: flex;
}
@media screen and (max-width: 480px) {
  .advantages {
    flex-direction: column;
  }
}

.advantages__item {
  flex: 1;
  padding: 0 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .advantages__item {
    flex-direction: row;
    padding: 0;
    margin-bottom: rem(31px);
  }
}
.advantages__item::before {
  content: url("../svg/shape.svg");
  position: absolute;
  top: rem(56px);
  right: 0;
  transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .advantages__item::before {
    display: none;
  }
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:last-child::before {
  display: none;
}