@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";

.advantages {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.advantages__item {
  flex: 1;
  padding: 0 5%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: rem(31px);
  }

  &::before {
    content: url("../svg/shape.svg");
    position: absolute;
    top: rem(56px);
    right: 0;
    transform: translateX(50%);

    @include tablets{
      display:none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}