.button_transparent {
  margin-left: 10px;
  background-color: transparent;
  color: #fff;
  text-transform: none;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
}
.button_transparent:hover {
  margin-left: 10px;
  background-color: transparent;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
  text-transform: none;
  color: #E01F3D;
}

.advantage {
  text-align: center;
}

.advantage__img_wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.advantage__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantage__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin: 0px;
  margin-bottom: 7px;
}

.advantage__desc p {
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  margin: 0px;
}