.button_transparent {
  margin-left: rem(10px);
  background-color: transparent;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(18px);
  color: #fff;
  text-transform: none;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
}
.button_transparent:hover {
  margin-left: rem(10px);
  background-color: transparent;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

.advantage {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .advantage {
    display: flex;
    text-align: left;
    align-items: center;
  }
}

.advantage__img_wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(24px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .advantage__img_wrapper {
    margin-bottom: rem(0px);
    margin-right: rem(12px);
  }
}

.advantage__icon {
  width: rem(68px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.what__img {
  width: rem(68px);
  height: rem(68px);
}

.advantage__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: rem(24px);
  line-height: rem(28px);
  color: #292929;
  margin: rem(0px);
  margin-bottom: rem(7px);
}

.advantage__desc p {
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #666666;
  margin: rem(0px);
}