.button_transparent {
  margin-left: 10px;
  background-color: transparent;
  color: #fff;
  text-transform: none;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
}
.button_transparent:hover {
  margin-left: 10px;
  background-color: transparent;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
  text-transform: none;
  color: #E01F3D;
}

.advantages {
  display: flex;
}

.advantages__item {
  flex: 1;
  padding: 0 5%;
  position: relative;
}
.advantages__item::before {
  content: url("svg/shape.svg");
  position: absolute;
  top: 56px;
  right: 0;
  transform: translateX(50%);
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:last-child::before {
  display: none;
}