@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";

.advantages {
  display: flex;
}

.advantages__item {
  flex: 1;
  padding: 0 5%;
  position: relative;

  &::before {
    content: url("../svg/shape.svg");
    position: absolute;
    top: 56px;
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
}