@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";

.back {
  background-color: $bc_g;
}

.back_one {
  background-color: $bc_w;
}

.back_sw {
  position: relative;
  background-color: $bc_g;
}

.back_two {
  background-color: $bc_w;
}

.back_three {
  background: url("../svg/background_black.png") bottom center no-repeat;
  background-size: cover;
}

.back__four {
  background: url("../svg/map.svg") top center no-repeat;
  background-size: cover;
  // height: 100%;
}

.hero {
  // background: url(../svg/headphones.svg) bottom right no-repeat;
  height: 100vh;
  min-height: rem(650px);
  max-height: rem(720px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    min-height: rem(950px);
  }

  @include phones {
    min-height: rem(800px);
  }
}

// .hero__adva {
//   position: relative;
//   background: url("../svg/Rectangle.svg") bottom -2% right 25% no-repeat;
// }

// .section__adva {
//   position: relative;
//   background: url("../svg/Rectangle.svg") top -2% right 25% no-repeat;
// }