.button_transparent {
  margin-left: rem(10px);
  background-color: transparent;
  color: #fff;
  text-transform: none;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
}
.button_transparent:hover {
  margin-left: rem(10px);
  background-color: transparent;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

.back {
  background-color: #F5F5F5;
}

.back_one {
  background-color: #fff;
}

.back_two {
  background-color: #fff;
}

.back_three {
  background: url("../svg/background_black.png") bottom center no-repeat;
  background-size: cover;
}

.back__four {
  background: url("../svg/map.svg") top center no-repeat;
  background-size: cover;
}

.hero {
  height: 70vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}