@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');


@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";


html {
  font-size: $basefs;

  @include tablets {
    font-size: $basefs - 1px;
  }

  @include phones {
    font-size: $basefs - 2px;
  }
}


.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}


.body {
  /* font-family: 'Alegreya Sans', sans-serif; */
  font-family: 'Play', sans-serif;
  font-weight: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
} 

*a {
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.content {
  flex: 1 1 auto;
}