@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
.button_transparent {
  margin-left: rem(10px);
  background-color: transparent;
  color: #fff;
  text-transform: none;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
}
.button_transparent:hover {
  margin-left: rem(10px);
  background-color: transparent;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.body {
  /* font-family: 'Alegreya Sans', sans-serif; */
  font-family: "Play", sans-serif;
  font-weight: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

* a {
  white-space: nowrap;
}

* {
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}

.content {
  flex: 1 1 auto;
}