.button_transparent {
  margin-left: 10px;
  background-color: transparent;
  color: #fff;
  text-transform: none;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
}
.button_transparent:hover {
  margin-left: 10px;
  background-color: transparent;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

.comment__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  color: #fff;
  margin: 0;
  margin-bottom: 55px;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 20px;
}
.form__col:last-child {
  margin-right: 0px;
}

.form__row {
  display: flex;
  margin-bottom: 6px;
}

.form__row_space {
  margin-bottom: 16px;
}

.form__title {
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 6px;
}

.form__block {
  flex: 1;
  margin-right: 16px;
}
.form__block:last-child {
  margin-right: 0px;
}

.form__input {
  width: 100%;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  border: none;
  padding: 18px 12px;
  border: solid 3px transparent;
  border-radius: 4px;
}
.form__input__textarea {
  height: 152px;
  resize: none;
  margin-bottom: 20px;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7px;
}

.form__buttons {
  margin-top: 30px;
}