@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";

.hamburger {
  width: 24px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background-color: $tc_b1;
  height: 4px;
  border-radius: 10px;
}