.button_transparent {
  margin-left: rem(10px);
  background-color: transparent;
  color: #fff;
  text-transform: none;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
}
.button_transparent:hover {
  margin-left: rem(10px);
  background-color: transparent;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

.headline {
  text-align: center;
}

.headline__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(52px);
  color: #292929;
  text-transform: uppercase;
  margin: rem(0px);
  margin-bottom: rem(18px);
}

.headline__subtitle {
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(18px);
  color: #666666;
  padding: 0 13%;
  margin-bottom: rem(62px);
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 4%;
  }
}