@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";

.logotype {
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(38px);
  align-self: flex-start;
}

// .logo {
//   width: rem(40px);
//   height: rem(40px);
// }

.head__row {
  display: flex;
  align-items: center;
  background-color: $bc_g;
  padding-top: rem(24px);

  @include tablets {
    justify-content: space-between;
  }
  
}

.menu {
  display: flex;
  align-items: flex-start;

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item > a {
  text-decoration: none;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: normal;
  font-size: rem(18px);
  line-height: rem(30px);
  // margin-right: rem(27px);
  color: #292929;
}

.menu__item {
  margin-right: rem(27px);
}
.menu__item:last-child {
  margin-right: rem(0px);
}

.menu__contacts {
  display: inline-flex;
  margin-top: 4px;
}

.menu__contacts > object {
  margin-left: rem(46px);
}

.number {
  text-decoration: none;
  @include text('Play',sans-serif,normal,rem(18px),rem(21px),$tc_b1);
  margin-left: rem(8px);
}

.button {
  @extend %button;
}

// .menu__contacts {
//   @include tablets {
//     display: none;
//   }
// }