@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";


.headline {
  text-align: center
}
.headline__title {
  @include text('Play',sans-serif,bold,rem(48px),rem(52px),$tc_b1);
  text-transform: uppercase;
  margin: rem(0px);
  margin-bottom: rem(18px);
}

.headline__subtitle {
  @include text('Play',sans-serif,normal,rem(16px),rem(18px),$tc_g);
  padding: 0 13%;
  margin-bottom: rem(62px);

  @include phones {
    padding: 0 4%;
  }
}