.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(21px);
  line-height: rem(41px);
  color: #fff;
  width: rem(160px);
  height: rem(54px);
  padding: rem(21px), rem(41px);
  border: rem(0px);
  border-radius: rem(35px);
  background-color: #E01F3D;
  font-size: rem(16px);
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
  background-color: #CA1B36;
  color: #fff;
}
.button:active {
  box-shadow: 0 rem(2px) rem(4px) 0 rgba(218, 1, 0, 0.3);
}

.button_transparent {
  margin-left: rem(10px);
  background-color: transparent;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(18px);
  color: #fff;
  text-transform: none;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
}
.button_transparent:hover {
  margin-left: rem(10px);
  background-color: transparent;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

.logotype {
  width: rem(40px);
  height: rem(40px);
  margin-right: rem(38px);
  align-self: flex-start;
}

.head__row {
  display: flex;
  align-items: center;
  background-color: #F5F5F5;
  padding-top: rem(24px);
}
@media screen and (max-width: 768px) {
  .head__row {
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item > a {
  text-decoration: none;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: normal;
  font-size: rem(18px);
  line-height: rem(30px);
  color: #292929;
}

.menu__item {
  margin-right: rem(27px);
}

.menu__item:last-child {
  margin-right: rem(0px);
}

.menu__contacts {
  display: inline-flex;
  margin-top: 4px;
}

.menu__contacts > object {
  margin-left: rem(46px);
}

.number {
  text-decoration: none;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(18px);
  line-height: rem(21px);
  color: #292929;
  margin-left: rem(8px);
}