.button_transparent {
  margin-left: 10px;
  background-color: transparent;
  color: #fff;
  text-transform: none;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
}
.button_transparent:hover {
  margin-left: 10px;
  background-color: transparent;
  width: 70px;
  height: 19px;
  padding: 21px, 41px;
  text-transform: none;
  color: #E01F3D;
}

.headline {
  text-align: center;
}

.headline__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  color: #292929;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 18px;
}

.headline__subtitle {
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  padding: 0 24%;
  margin-bottom: 62px;
}