@import "variables.scss";

@mixin button($w,$h,$ptb,$plr)  {
  width: $w;
  height: $h;
  padding: $ptb,$plr;
}

@mixin text($ff,$ffs,$fw,$fs,$lh,$tc) {
  font-family: $ff,$ffs;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $tc;
}