@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";


.offer__row {
  display: flex;
  flex-direction: column;
  margin-top: 97px;
}

.title {
  display: flex;
  @include text('Play',sans-serif,bold,48px,52px,$tc_b1);
  text-transform: uppercase;
  max-width: 400px;
  max-height: 156px;
  margin: 0px;
  margin-bottom: 22px;
}

.offer__text {
  display: flex;
  @include text('Alegreya Sans',sans-serif,normal,21px,25px,$tc_b1);
  max-width: 322px;
  max-height: 50px;
  margin-bottom: 36px;
}

.photo {
  display: flex;
  justify-content: flex-end;
  width: 920px;
  & object {
    min-width: 489px;
    min-height: 489px;
    margin-top: -360px;
  }
}


.description__row {
  display: flex;
  padding-bottom: 50px;
}

.description__list {
  display: flex;
  margin-top: -60px;
}

.description__item {
  margin-right: 2px;
  &:last-child {
    margin-right: 0px;
  }
}
