@import "variables.scss";
@import "mixin.scss";
@import "templates.scss";

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 19px;
  margin-right: 18px;

  &:last-child {
    margin-right: 0px;
  }

  &__checkbox {
    .radio__visible {
      border-radius: 4px;

      &:before {
        background: url("svg/mark.svg") center center no-repeat;
      }
    }
  }
}

.radio__title {
  @include text('Play',sans-serif,normal,16px,19px,$tc_w);
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  background: $bc_w;
  margin-right: 10px;

  &:before {
    content: "";
    width: 13px;
    height: 13px;
    background: #E01F3D;
    border-radius: 50%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}