.button_transparent {
  margin-left: rem(10px);
  background-color: transparent;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(18px);
  color: #fff;
  text-transform: none;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
}
.button_transparent:hover {
  margin-left: rem(10px);
  background-color: transparent;
  width: rem(70px);
  height: rem(19px);
  padding: rem(21px), rem(41px);
  text-transform: none;
  color: #E01F3D;
}
.button_transparent:active {
  box-shadow: none;
  outline: none;
}

.reviews__display {
  background-color: #F8FAF9;
  padding: rem(42px) 19% rem(42px) rem(42px);
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding: rem(42px) rem(42px) rem(42px) rem(42px);
  }
}
.reviews__display::before {
  content: "";
  display: block;
  width: rem(90px);
  height: rem(90px);
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: rem(-65px);
}

.reviews__display_inner {
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display_inner {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar_img {
  width: rem(253px);
  height: rem(264px);
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .reviews__avatar_img {
    width: rem(130px);
    height: rem(130px);
  }
}

.reviews__content {
  flex: 1;
  margin-left: rem(40px);
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: rem(0px);
  }
}

.reviews__list {
  position: relative;
  min-height: rem(296px);
}
@media screen and (max-width: 768px) {
  .reviews__list {
    min-height: rem(325px);
  }
}
@media screen and (max-width: 480px) {
  .reviews__list {
    min-height: rem(365px);
  }
}

.reviews__item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.3s;
  opacity: 0;
}

.reviews__item_active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__title {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: rem(48px);
  line-height: rem(52px);
  color: #292929;
  text-transform: uppercase;
  margin: rem(0px);
  margin-bottom: rem(32px);
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: rem(60px);
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    font-family: "Play", sans-serif;
    font-weight: bold;
    font-size: rem(32px);
    line-height: rem(36px);
    color: #292929;
  }
}

.reviews__subtitle {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: rem(24px);
  line-height: rem(28px);
  color: #292929;
  margin-top: rem(30px);
  margin-bottom: rem(27px);
}
@media screen and (max-width: 768px) {
  .reviews__subtitle {
    margin-bottom: rem(20px);
  }
}

.reviews__text {
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: rem(16px);
  line-height: rem(19px);
  color: #666666;
  margin-bottom: rem(38px);
}
@media screen and (max-width: 768px) {
  .reviews__text {
    margin-bottom: rem(20px);
  }
}

.reviews__author {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: rem(18px);
  line-height: rem(21px);
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-top: rem(15px);
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    margin-top: rem(32px);
  }
}
@media screen and (max-width: 480px) {
  .reviews__switcher {
    margin-top: rem(44px);
  }
}

.reviews__switcher_item {
  margin-right: rem(3px);
}