@import "foundation.scss";
@import "media.scss";
// @import "variables.scss";
// @import "mixin.scss";
// @import "templates.scss";
@import "background.scss";
@import "head.scss";
@import "hamburger.scss";
@import "offer.scss";
@import "switcher.scss";
@import "headline.scss";
@import "section.scss";
@import "advantages.scss";
@import "advantage.scss";
@import "reviews.scss";
@import "interactive_ava.scss";
@import "team.scss";
@import "form.scss";
@import "radio.scss";
@import "footer.scss";
@import "page.scss";
@import "fullscreen_menu.scss";